{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Askme</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand fs-2" href="{% url  'askme:main_page'%}">Ask Pupkin</a>


                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <a href="{% url  'askme:ask'%}">
                        <button class="btn btn-success" type="button">Ask!</button>
                    </a>
                </form>
                <div class="account">
                    {% block header %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-3">
        <div class="row">
            {% block content %}
            {% endblock %}
            <div class="col">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div>
                        {% for tag, type in popular_tags %}
                            <a href="{% url 'askme:tag' tag.name %}"><span class="badge text-bg-{{type}}">{{ tag.name }}</span></a>
                        {% endfor %}
                    </div>
                </section>

                <section>
                    <h2>Best members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            {% for member in best_members %}
                            <li class="list-group-item"><a href="{% url 'askme:tag' member.user.username %}">{{member.user.username}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </main>
<script src="../static/js/bootstrap.bundle.js"></script>
</body>
<footer class="mt-auto" style="display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;">
    <p>© 2024 Nikita Vopiiashin</p>
</footer>
</html>