<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Askme</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    {% load static %}
</head>
<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">
                <a class="navbar-brand fs-2" href="/askme/">Ask Pupkin</a>


                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <a href="/ask/">
                        <button class="btn btn-success" type="button">Ask!</button>
                    </a>
                </form>

                <div class="d-flex gap-1">
                    <img src="{%static 'img/Avatar.png'%}" alt="Avatar" class="img-thumbnail" width="64">
                    <div>
                        <div>
                            dr pepper
                        </div>
                        <a href="/settings/">settings</a>
                        <a href="#">log out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <main class="container mt-3">
        <div class="row">
            {% block content %}
            {% endblock %}
            <div class="col">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div>
                        <span class="badge text-bg-primary">perl</span>
                        <span class="badge text-bg-secondary">Python</span>
                        <span class="badge text-bg-success">TechnoPark</span>
                        <span class="badge text-bg-danger">MySQL</span>
                        <span class="badge text-bg-warning">django</span>
                        <span class="badge text-bg-info">Mail.ru</span>
                        <span class="badge text-bg-light">Voloshin</span>
                        <span class="badge text-bg-dark">Firefox</span>
                    </div>
                </section>

                <section>
                    <h2>Best members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">Tyler Durden</a></li>
                            <li class="list-group-item"><a href="#">Mr Black</a></li>
                            <li class="list-group-item"><a href="#">Mr White</a></li>
                            <li class="list-group-item"><a href="#">Mr Yellow</a></li>
                            <li class="list-group-item"><a href="#">Mr Purple</a></li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </main>
<script src="../static/js/bootstrap.bundle.js"></script>
</body>
<footer class="mt-auto" style="display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #45a1ff;
  color: #fff;">
    <p>© 2024 Nikita Vopiiashin</p>
</footer>
</html>