{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
<div class="d-flex gap-3 align-items-center">
    <h1>{{ title }}</h1>
    {% if title == "New Questions" %}
        <a href="{% url 'askme:hot' %}">Hot questions</a>
    {% endif %}
</div>

<div class="col-md-9">
    <div class="d-flex flex-column gap-3">
        {% for question in questions %}
            {% include 'components/question_card.html'%}
        {% endfor %}
        
        {% include "components/pagination.html" with page=page_obj %}

        <script src="{% static 'js/app.js' %}"></script>
    </div>
</div>
    

{% endblock %}
