{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="col-9">
        <div class="d-flex flex-column gap-3">
            <div class="question-body">
                <div class="row">
                    <div class="card-body card" data-question-id="{{question.id}}">
                        <div class="row">
                            <div class="col-3">
                                <div class="border mb-2" style="height: 100px" >
                                    <img src="{%static 'img/card1.jpeg'%}" alt="Avatar"
                                            class="img-fluid" style="max-height: 95px; width:100%;">
                                </div>
                                <div class="form-group">
                                    {% if request.user.is_authenticated %}
                                        <button class="btn {% if question.user_vote == True %}btn-like active{% else %}btn-like{% endif %}">
                                            👍
                                        </button>
                                    {% endif %}
                                        <span class="like-counter">{{ question.get_rating }}</span>
                                    {% if request.user.is_authenticated %}
                                        <button class="btn {% if question.user_vote == False %}btn-dislike active{% else %}btn-dislike{% endif %}">
                                            👎
                                        </button>
                                    {% endif %}
                                </div>

                            </div>
                            <div class="col-9">

                                <h1 class="card-title">{{question.title}}</h1>
                                <p class="card-text">{{question.text}}</p>

                                <div class="d-flex gap-5">
                                    <div>

                                        Tags:

                                        {% if question.tags.exists %}
                                            {% for tag in question.tags.all %}
                                                {% if tag.name %}
                                                    <a href="{% url 'askme:tag' tag.name %}">{{ tag.name }}</a>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <hr class="my-2">

            {% for answer in answers %}
                {% include 'components/answer_card.html'%}
            {% endfor %}

            
            {% include "components/pagination.html" with page=page_obj %}

            <hr class="my-1">
            <form class="mb-3" method="POST" action="{% url 'askme:add_answer' question.id %}">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-sm-9">
                        <label for="inputText"></label>
                        <textarea type="text" class="form-control" id="inputText" name="text"
                                    placeholder="Enter your answer here..." rows="6"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark">Answer</button>
            </form>

        </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>        

{% endblock %}