{% extends 'layouts/base.html' %}

{% block content %}
{% load static %}
    <div class="d-flex gap-3 align-items-center">
        <h1>Registration</h1>
    </div>

        <div class="col-9">
            <div class="d-flex flex-column gap-3">
                {% if form.non_field_errors %}
                <div class="alert alert-danger col-sm-11" role="alert">
                    {% for error in form.non_field_errors %}
                    <div>{{ error }}</div>
                    {% endfor %}
                </div>
                {% endif %}
                <form action="{% url 'askme:signup' %}" method="POST" class="info-input" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row mb-3">
                        <label for="inputLogin" class="col-sm-2 col-form-label">Username</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputLogin" name="username" placeholder="Enter your login here"
                             maxlength="30" value="{{ form.username.value|default:'' }}">
                            {% for error in form.username.errors %}
                                <div class="error-message-small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputEmail" name="email" placeholder="Enter your email here" 
                            maxlength="320" value="{{ form.email.value|default:'' }}">
                            {% for error in form.email.errors %}
                                <div class="error-message-small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" name="password" id="inputPassword"
                            placeholder="Enter password" maxlength="30">
                            {% for error in form.password.errors %}
                                <div class="error-message-small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputRepeatPassword" class="col-sm-2 col-form-label">Repeat password</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" name="password_confirmation" id="inputRepeatPassword"
                            placeholder="Confirm password" maxlength="30">
                            {% for error in form.password_confirmation.errors %}
                                <div class="error-message-small">{{ error }}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="UploadAvatar" class="col-sm-2 col-form-label">Upload avatar</label>
                        <div class="col-sm-4">
                            <div class="d-flex flex-column align-items-start">
                                <input type="file" class="form-control" id="UploadAvatar">
                                {% for error in form.avatar.errors %}
                                    <div class="error-message-small">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <button type="submit" class="btn btn-outline-dark mt-2">Register!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}