{% extends 'layouts/base.html' %}

{% block header %}
    {% include "components/header_unregistered.html" %}
{% endblock %}

{% block content %}
{% load static %}
    <div class="d-flex gap-3 align-items-center">
        <h1>Registration</h1>
    </div>

        <div class="col-9">
            <div class="d-flex flex-column gap-3">
                <div class="alert alert-danger col-sm-11" role="alert">
                    Sorry, this email address is already registered!
                </div>
                <form>
                    <div class="row mb-3">
                        <label for="inputLogin" class="col-sm-2 col-form-label">Login</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputLogin" placeholder="Enter your login here">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputEmail" placeholder="Enter your email here">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputNickname" class="col-sm-2 col-form-label">Nickname</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="inputNickname" placeholder="Enter your nickname here">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="inputPassword">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="inputRepeatPassword" class="col-sm-2 col-form-label">Repeat password</label>
                        <div class="col-sm-3">
                            <input type="password" class="form-control" id="inputRepeatPassword">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="UploadAvatar" class="col-sm-2 col-form-label">Upload avatar</label>
                        <div class="col-sm-4">
                            <div class="d-flex flex-column align-items-start">
                                <input type="file" class="form-control" id="UploadAvatar">
                            </div>
                            <a href="{% url 'askme:main_page'%}">
                                <button type="button" class="btn btn-outline-dark mt-2">Register!</button>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}